// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$clr-darkPrimary: #2e2e2ef8;
$clr-darkSecondary: #383838f8;
$clr-grayPrimary: #666666f8;
$clr-graySecondary: #7e7e7e;
$clr-selecting: #5a5a5af8;
