@import '../../styles/variables';

.grave {
  height: 70px;
  width: 70px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $clr-grayPrimary;
}
