@import '../../styles/variables';

.about {
  height: 700px;
  width: 1100px;
  padding: 40px 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  background-color: $clr-graySecondary;
  color: black;
  overflow: auto;
  z-index: 3;

  &__title {
    font-size: 2.5rem;
  }

  &__content {
    margin: 20px 0;
    font-size: 1.5rem;
    line-height: 1.25;
    text-align: justify;
  }

  &__btn {
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    background-color: $clr-darkSecondary;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
  }
}
